= render partial: "shared/errors", locals: {record: @character}

.row
  .col-sm-12.form-group
    = f.label :name, class: "col-sm-4 control-label"
    .col-sm-12
      = f.text_field :name, autofocus: true , class: "form-control"

  .col-sm-6.form-group
    = f.label :race, class: "col-sm-4 control-label"
    .col-sm-12
      = f.select :race, Race.names.keys, {}, class: "form-control"

  .col-sm-6.form-group
    = f.label 'Class', class: "col-sm-4 control-label"
    .col-sm-12
      = f.select :character_class, CharacterClass.dnds.keys, {}, class: "form-control"

  .col-sm-4.form-group
    = f.label :hit_points, class: "col-sm-4 control-label"
    .col-sm-12
      = f.number_field :hit_points, autofocus: true , class: "form-control"

  .col-sm-4.form-group
    = f.label :size, class: "col-sm-4 control-label"
    .col-sm-12
      = f.text_field :size, autofocus: true , class: "form-control"

  .col-sm-4.form-group
    = f.label :speed, class: "col-sm-4 control-label"
    .col-sm-12
      = f.number_field :speed, autofocus: true , class: "form-control"

  .col-sm-2.form-group
    = f.label :strength, class: "col-sm-2 control-label"
    .col-sm-12
      = f.number_field :strength, autofocus: true , class: "form-control"

  .col-sm-2.form-group
    = f.label :dexterity, class: "col-sm-2 control-label"
    .col-sm-12
      = f.number_field :dexterity, autofocus: true , class: "form-control"

  .col-sm-2.form-group
    = f.label :constitution, class: "col-sm-2 control-label"
    .col-sm-12
      = f.number_field :constitution, autofocus: true , class: "form-control"

  .col-sm-2.form-group
    = f.label :intelligence, class: "col-sm-2 control-label"
    .col-sm-12
      = f.number_field :intelligence, autofocus: true , class: "form-control"

  .col-sm-2.form-group
    = f.label :wisdom, class: "col-sm-2 control-label"
    .col-sm-12
      = f.number_field :wisdom, autofocus: true , class: "form-control"

  .col-sm-2.form-group
    = f.label :charisma, class: "col-sm-2 control-label"
    .col-sm-12
      = f.number_field :charisma, autofocus: true , class: "form-control"

  .col-sm-12.form-group.center
    - button_type = params[:action] == "new" ? "Create" : "Update"
    = f.submit value: "#{button_type} Character", class: "btn btn-primary"
