.row
  .col-12.fixed-bottom.player_hand
    .row.m-1.justify-content-start
      - hand.cards.each do |card|
        .col-2
          .playing_card.draggable
            .d-none.d-lg-block
              .row.p-2
                .col-6
                  .float-left
                    = symbol_for_value(card.value)
                    = icon_for_suit(card.suit, "sm")
                .col-6
                  .float-right
                    = symbol_for_value(card.value)
                    = icon_for_suit(card.suit, "sm")
              .row
                .col-12.text-center
                  = icon_for_suit(card.suit, "lg")
              .row.mt-5
                .col-12.text-center
                  = icon_for_suit(card.suit, "lg", "h-flip")
              .row.p-2
                .col-6
                  .float-left
                    = symbol_for_value(card.value)
                    = icon_for_suit(card.suit, "sm")
                .col-6
                  .float-right
                    = symbol_for_value(card.value)
                    = icon_for_suit(card.suit, "sm")

            .d-block.d-lg-none
              .row
                .col-12.text-center
                  %h3= symbol_for_value(card.value)
                  = icon_for_suit(card.suit, "sm")

      .col-2
        .row
          .col-12.text-center
            .row.mt-4
              .col-12
                = link_to "SHUFFLE", shuffle_hand_path(hand_id: hand.id), remote: true, class: "btn btn-danger width_100 shuffle_cards"
                -# = link_to "SHUFFLE", "#", class: "btn btn-danger width_100 shuffle_cards", hand_id: hand.id
